@media (prefers-color-scheme: dark) {
	:root {
		/*! Breaks sites without support for it */
		/* color-scheme: dark !important; */

		/* Variables here */

		/** Navigation Bar */
		--af-nav-bar-bg: unset;

		/* Url Bar */
		--af-address-bar-bg: unset;

		/** Vertical Bar */
		--af-vertical-bar-bg: unset;

		/** Tabs */
		--af-tabs-fg: unset;
		--af-tabs-bg: unset;
		--af-tabs-hovered-bg: unset;
		--af-tabs-selected-bg: unset;
		--af-tabs-multiselected-bg: green;
		--af-tabs-pinned-bg: unset;

		/** Pinned Tabs Area */
		--af-pinned-tabs-bg: unset;

		/* New Tab button */
		/* --af-new-tab--bg: unset; */
		--af-new-tab-hovered-bg: unset;
	}
}
