/* Twitch Live */
/* https://addons.mozilla.org/en-US/firefox/addon/twitch-live-for-firefox/ */

/* TODO: Slight redesign maybe in the future */

/* TODO: Change logo in dark scheme, or just remove it */
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: rgb(27, 27, 27);
		--foreground-color: rgb(177, 177, 177);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: rgb(177, 177, 177);
		--foreground-color: rgb(27, 27, 27);
	}
}
/* TODO: Pref don't work yet, somehow */

body:has(#streamContainer) {
	background-color: var(--background-color) !important;
	color: var(--foreground-color) !important;
}

#streamContainer {
	background-color: transparent !important;

	& .streamDiv:hover {
		background-color: color-mix(in srgb, var(--background-color) 100%, var(--foreground-color) 30%) !important;
	}
}
