/* TODO: Add conditional to user pref */
/*? Break this file into multiple, functional object, each congaing it's style? */

/* body {
	background: linear-gradient(135deg, #bb4b3b, #2433a3, #bb4b3b, #2433a3);
	background-size: 300% 300%;
	animation: animateBg 5s infinite linear;
} */

/* @keyframes animateBg {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 100% 100%;
	}
} */

/* Browser background, if margins are enabled, or navigation toolbar is transparent */
#browser {
	/* background-color: green !important; */
}
