/* this adds borders around most panels in browser, similar to ones you would see in Arc browser */

/* TODO: Move to separate file: sidebar.css ? */
/* Sidebar (History, Bookmarks etc.) */
#sidebar-box {
	margin: 0 0 6px 6px;
	border-radius: 12px;
	background-color: darkgrey !important;
	max-width: none !important;
	min-width: 0px !important;
	overflow: hidden;

	/* Change opposite border when user changes on which side panel should appear, to leave space to resize handle */
	&[positionend] {
		margin: 0 6px 6px 0;
	}
}

/* Sidebar, when in fullscreen */
#main-window[inFullscreen] #sidebar-box {
	margin-top: 6px;
}

/* Browser content */
/* TODO: Move from here to theme file/colors? */
#tabbrowser-tabpanels {
	/* background: none !important; */
}

/* Default margins for browser panel with devtools */
#browser #tabbrowser-tabpanels > .browserSidebarContainer {
	margin: 0 6px 6px 6px;
}

/* Browser panel displaying content */
#tabbrowser-tabpanels browser[type="content"] {
	border-radius: 12px;
	overflow: hidden;
}

/* Changing status bar slightly to match margins */
#statuspanel {
  position: absolute;
	bottom: 5px;
  left: 5px;

	& #statuspanel-label {
		/** Move to another file */
		border: 0 !important;
		background-color: var(--tabpanel-background-color) !important;
	}
}

/* Splitter between browser panel and dev tools */
.devtools-side-splitter {
	background-color: transparent !important;
	margin: 0 !important;
	border: 0 !important;
}

/* Switch top margin when in fullscreen */
#main-window[inFullscreen]
	#browser
	#tabbrowser-tabpanels
	> .browserSidebarContainer {
	margin-top: 6px;
}

/* Margin when side panel is on the left, and not hidden */
#browser:has(#sidebar-box:not([hidden]):not([positionend]))
	#tabbrowser-tabpanels
	> .browserSidebarContainer {
	margin-left: 0px;
}

/* Margin when side panel is on the right, and not hidden */
#browser:has(#sidebar-box:not([hidden])[positionend])
	#tabbrowser-tabpanels
	> .browserSidebarContainer {
	margin-right: 0px;
}

/* Splitter between main browser window and sidebar */
#sidebar-splitter {
	background-color: transparent !important;
	border: none !important;
}

/* Find Bar */
.browserSidebarContainer findbar {
	background-color: transparent !important;
	border: 0 !important;
	padding: 0 !important;
	border-top: 6px solid transparent !important;
}

.browserSidebarContainer findbar[hidden] {
	/* TODO: Add variables? */
	margin-bottom: calc(-1 * (28px + 12px + 1px - 6px)) !important;
}
