#navigator-toolbox {
	background: transparent !important;
	border: none !important;
}

.browser-toolbar {
/** Vertical Bar support */

/* Fix overlapping of urlbar by vertical tabs */
#urlbar {
	z-index: 6 !important;
}
