/* File with modifications that change Tabs Bar to be vertical */

@media (-moz-bool-pref: "arcticfox.vertical-tabs") {
	:root {
		--AF-vertical-bar-width-max: 300px;
		/*! Move to margins file maybe, here just placeholder if margins are disabled  */
		--AF-margins: 6px;
	}

	arrowscrollbox#tabbrowser-arrowscrollbox[orient="horizontal"] {
		flex-direction: column !important;
	}

	/* Container for tab container & toolbar buttons */
	#TabsToolbar-customization-target {
		/* Settings up vertical orientation, as flex-direction is being overwritten by xul */
		flex-direction: column;
		-moz-box-orient: vertical !important;

		height: 100% !important;
		width: 100% !important;
	}

	/* Resetting toolbar buttons margin */
	#TabsToolbar-customization-target toolbarbutton {
		padding: 0 !important;
		margin: 0 !important;
	}

	/* Container with tabs */
	scrollbox[orient="horizontal"] {
		/* Settings up vertical orientation, as flex-direction is being overwritten by xul */
		display: -webkit-box !important;
		-moz-box-orient: vertical !important;

		/* Fix to overflowing bug */
		padding-inline: 0 !important;
		overflow: visible !important;
	}

	#titlebar {
		z-index: 6;
	}

	/* Window controls */
	.titlebar-buttonbox-container {
		position: absolute;
		top: 9px;
		right: 9px;
		z-index: 10;
	}

	/* Hide duplicate window controls */
	#TabsToolbar .titlebar-buttonbox-container {
		display: none;
	}

	/* Make space for alternate position in nav bar fo window controls */
	#nav-bar {
		/* For KDE */
		padding-right: 93px !important;
	}

	#TabsToolbar {
		position: absolute;
		/*! Change to var */
		top: 40px;
		left: 0;
		padding: 6px !important;
		box-sizing: content-box;
		/*! Change to var */
		width: 36px;
		/*! Change to var */
		/* Calculate tab bar height, accounted for 2 side of paddings */
		height: calc(100% - 40px - 2 * var(--AF-margins));
		background-color: rgb(80, 30, 30) !important;
		transition: width 250ms;

		/* Fixing change of color of tabs bar in active windows */
		&:-moz-window-inactive {
			color: initial !important;
		}

		&:hover {
			/* Calculate full width of tab bar when maximized, accounted for 2 side of margins */
			width: calc(var(--AF-vertical-bar-width-max) - 2 * var(--AF-margins));
		}
	}

	/* Remove top margin when in fullscreen */
	:root[inFullscreen] #TabsToolbar {
		top: 0;
		height: calc(100% - 2 * var(--AF-margins));
		transition: top 800ms ease-out, height 800ms ease-out, width 250ms;
	}

	:root:has(#fullscr-toggler[hidden]) #TabsToolbar {
		top: 40px;
		height: calc(100% - 2 * var(--AF-margins) - 40px);
		/* TODO: Implement animation */
		transition-property: width;
	}

	#tabbrowser-tabs {
		/* Remove left padding from tabs bar */
		padding-inline: 0 !important;
		/* Fixing horizontal scrolling bug */
		overflow-y: scroll;
		overflow-x: hidden;
		scrollbar-width: none !important;

		/* Always show new tab button */
		/*? Maybe not needed anymore? */
		&[overflow] #tabbrowser-arrowscrollbox-periphery > #tabs-newtab-button {
			display: flex !important;
		}
	}

	/* Hide tabs scroll buttons */
	#scrollbutton-up,
	#scrollbutton-down,
	/* Hide spacer for window controls */
	.titlebar-spacer {
		display: none !important;
	}

	/*! Fixing change of color of tabs bar in active windows */
	#titlebar:-moz-window-inactive {
		opacity: 1 !important;
	}

	:root[inFullscreen]:not([macOSNativeFullscreen])
		toolbar:not([fullscreentoolbar="true"]) {
		visibility: visible !important;
	}

	#browser {
		background-color: green;
		/* background-color: var(--tabpanel-background-color); */
	}

	.tabbrowser-tab {
		max-width: unset !important;
		/* max-width: 36px !important; */
		min-width: 36px !important;

		border-radius: 10px !important;
		padding: 0 !important;
		padding-inline: 0 !important;
		margin: 2px 0 2px 0 !important;
		background-color: red !important;

		/* Fix for invisible tabs after closing */
		&:not([fadein]) {
			display: none !important;
			/* Must be set, probably bc of some Mozilla internal dead tabs detection, otherwise, tabs would stay hidden forever */
			min-width: 0.1px !important;
			max-width: 0.1px !important;
		}

		/* Remove top margin for first tab */
		&:first-of-type {
			margin-top: 0px !important;
		}

		/* Fix tab background */
		& .tab-background {
			margin: 0 !important;
			border-radius: 10px !important;
		}

		& .tab-content[pinned] {
			padding: 0 8px !important;
		}

		/* Center tab icon */
		& .tab-icon-stack {
			min-width: 20px;
			justify-content: center;

			& .tab-icon-image {
				margin: 0 !important;
			}
		}

		/* Hide tab close button */
		& .tab-close-button {
			/* TODO: Maybe in future, add option to hide close button on pinned tabs */
			display: flex !important;
			visibility: visible !important;
			margin-left: 8px;
		}
	}

	/* Style New Tab button */
	#tabbrowser-arrowscrollbox-periphery {
		margin-top: 3px;
		overflow: clip;
		/*! Change to var */
		border-radius: 10px;

		#tabs-newtab-button {
			width: 100%;

			&:hover {
				background-color: blue !important;
			}
		}

		#tabs-newtab-button:hover > .toolbarbutton-icon {
			background-color: transparent !important;
		}
	}

	/* Fix overlapping of urlbar by vertical tabs */
	#urlbar {
		z-index: 6;
	}

	/* Remove left margin in vertical layout from pinned tabs */
	/* TODO: Refactor */
	#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
		> #tabbrowser-arrowscrollbox
		> .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
		margin-inline-start: 0 !important;
	}

	#tabbrowser-tabpanels {
		margin-left: calc(36px + 2 * var(--AF-margins));
		transition: margin-left 250ms;
	}

	/* Fix for popups also including margins */
	:root:has(#TabsToolbar[collapsed]) #tabbrowser-tabpanels,
	/* Fix for fullscreen pages including margin for Vertical Tabs */
	:root[inDOMFullscreen] #tabbrowser-tabpanels {
		margin-left: 0;
	}

	:root:has(#TabsToolbar[collapsed]) #TabsToolbar {
		display: none !important;
	}

	:root[titlepreface="᠎"] {
		& #tabbrowser-tabpanels {
			margin-left: 300px;
		}

		& #TabsToolbar {
			width: calc(var(--AF-vertical-bar-width-max) - 2 * var(--AF-margins));
		}
	}
}
