/* Provide window control icons similar to KDE Breeze when using themes */

/* TODO: Styling could be changed a little */
@media (-moz-bool-pref: "arcticfox.linux-windows-controls") {
	/* Dynamic color for window controls icons */
	.titlebar-buttonbox .toolbarbutton-icon {
		fill: var(--toolbarbutton-icon-fill);
		-moz-context-properties: fill !important;
	}

	/* Icons for window controls */
	.titlebar-min > .toolbarbutton-icon {
		background-image: url("icons/minimize.svg") !important;
	}
	.titlebar-max > .toolbarbutton-icon {
		/* Should be rotate 180deg */
		transform: rotate(180deg);
		background-image: url("icons/minimize.svg") !important;
	}
	.titlebar-restore > .toolbarbutton-icon {
		background-image: url("icons/restore.svg") !important;
	}
	.titlebar-close > .toolbarbutton-icon {
		background-image: url("icons/close.svg") !important;
	}

	/** With Vertical Tabs */

	/* Hide window controls in fullscreen, when not hovering top */
	:root:has(#fullscr-toggler:not([hidden])) .titlebar-buttonbox-container {
		visibility: hidden !important;
	}

	/* Hide window controls in fullscreen, when playing media */
	:root[inDOMFullscreen] .titlebar-buttonbox-container {
		visibility: hidden !important;
	}

	/* Don't push Customization Toolbar aside in popups, as there is normal title bar usually */
	:root:has(#TabsToolbar[collapsed]) #nav-bar{
		padding-right: 0px !important;
	}
}
