/* Override window controls changing when using themes */

/* Taken from https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/window_control_force_linux_system_style.css */

.titlebar-button {
    list-style-image: none !important;
    appearance: auto !important;
}

.titlebar-button>.toolbarbutton-icon {
    background: none !important;
}

.titlebar-min {
    -moz-default-appearance: -moz-window-button-minimize !important;
}

.titlebar-max {
    -moz-default-appearance: -moz-window-button-maximize !important;
}

.titlebar-restore {
    -moz-default-appearance: -moz-window-button-restore !important;
}

.titlebar-close {
    -moz-default-appearance: -moz-window-button-close !important;
}